@mixin flex()
  display: flex
  justify-content: center
  align-items: center


*
  margin: 0
  padding: 0

.content
  max-width: 1200px
  margin: auto
  width: 90%
  display: flex
  align-items: flex-start
  justify-content: space-between


body
  font-family: "Lato", sans-serif
  background: #F5F5F5

footer
  clear: both

a
  text-decoration: none
  cursor: pointer
  color: #898989

em
  color: #ff0d0d
  font-size: 17px
  font-weight: 400
  line-height: 20px

nav ul li
  list-style-type: none

ul
  list-style-type: none

//.center
//  padding: 0 calc(50% - 600px)
//  //@media (max-width: 1270px)
//  //    padding: 0 calc(50% - 500px)
//  @media (max-width: 960px)
//    padding: 0 calc(50% - 470px)


.header
  background-color: #FA8C16
  padding-top: 16px
  padding-bottom: 16px
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
  margin-bottom: 30px

  &__wrapper
    max-width: 1200px
    //максимальная ширина
    width: 90%
    display: flex
    justify-content: space-between
    align-items: center
    margin: auto

  &__header-nav
    margin-left: 60px
    margin-right: auto

  &-menu
    display: flex
    justify-content: space-between
    align-items: center

  &-menu__link
    color: #fafafa
    margin-right: 15px
    font-size: 14px
    line-height: 22px

  &__input-group
    position: relative
    border-radius: 4px
    background: #FFFFFF
    border: 1px solid #D9D9D9
    overflow: hidden
    //чтобы за предел блока ничего не вываливалось
    width: 237px
    height: 32px

.menu-toggle
  display: none

.search
  &__input
    border: none
    width: 80%
    height: 100%
    font-size: 14px
    line-height: 22px
    padding-left: 12px

  &__button
    border: none
    height: 100%
    width: 20%
    position: absolute
    right: 0
    top: 0
    background: #FFFFFF
    cursor: pointer
    @include flex

  &__input[type="search"]::-moz-placeholder
    color: #BFBFBF

  &__input[type="search"]::-webkit-input-placeholder
    color: #BFBFBF

  &__input[type="search"]:-ms-input-placeholder
    color: #BFBFBF

  &__input[type="search"]::-ms-input-placeholder
    color: #BFBFBF

  &__input[type="search"]::placeholder
    color: #BFBFBF


.posts
  max-width: 67%

  &__post
    background: #FFFFFF
    border: 1px solid #E8E8E8
    margin-bottom: 30px

  &__body
    padding: 35px 35px 0 35px

  &__title
    margin-bottom: 19px
    font-weight: 600
    font-size: 16px
    line-height: 24px
    color: #262626

  &__text
    font-size: 14px
    line-height: 22px
    color: #262626

  &__tags
    margin-bottom: 22px

  &__tag
    font-size: 14px
    line-height: 22px
    color: #BFBFBF
    margin-right: 10px

  &__footer
    background: #FAFAFA
    border-top: 1px solid #E8E8E8
    @include flex
    justify-content: space-between
    padding-top: 13px
    padding-bottom: 13px

  &__buttonsBlock
    display: flex
    align-items: center
    margin: 0 auto 0 36px

  &__button .icon
    fill: #8C8C8C

  &__button
    background-color: transparent
    border: none
    color: #8C8C8C
    font-size: 14px
    line-height: 22px
    display: flex
    align-items: center
    margin-right: 29px
    cursor: pointer

  &__author
    @include flex
    text-align: right
    margin-right: 36px

  &__username
    display: block
    font-size: 12px
    line-height: 20px
    text-align: right
    color: #8C8C8C

  &__post-time
    font-size: 12px
    line-height: 20px
    color: #BFBFBF

  &__avatar
    margin-left: 10px
    border-radius: 4px

.icon-likes, .icon-comments
  margin-right: 6px

.sidebar
  width: 31%
  &-nav
    background: #FFFFFF
    border: 1px solid #E8E8E8
    border-top: none

  &-link
    font-size: 14px
    line-height: 22px
    color: #595959
    padding: 16px 48px
    display: inline-block
    width: 72%

  &-link:hover
    background-color: #FFFBE6
    color: #FAAD14

  &-link:active
    background-color: #FFFBE6
    border-right: 3px solid #FAAD14

  &-button
    background: #FAAD14
    border-radius: 4px
    width: 100%
    @include flex
    padding: 13px 0 13px
    margin-top: 20px

  &-button__icon
    margin-right: 10px
    fill: #FFFFFF

  &-button__text
    color: #FFFFFF
    font-size: 16px
    line-height: 24px

  &-card
    background: #FFFFFF
    border: 1px solid #E8E8E8
    margin-top: 20px

  &-card__header
    background: #FAFAFA
    border-bottom: 1px solid #E8E8E8
    padding: 23px 25px
    font-weight: 600
    font-size: 16px
    line-height: 24px
    color: #595959

  &-card__body
    padding: 22px 40px 30px 25px

  &-card__body-title
    font-weight: 600
    font-size: 16px
    line-height: 24px
    color: #D48806

  &-card__body-text
    font-size: 14px
    line-height: 22px
    color: #262626
    padding-top: 10px

  &-promo
    display: block
    width: 100%
    background: #fff url(img/promo.jpg) no-repeat center / cover
    height: 260px
    border: 1px solid #E8E8E8
    margin-top: 20px
    position: relative

  &-promo::before
    content: "Реклама"
    position: absolute
    right: 0
    top: 0
    background: #c4c4c4
    padding: 0 26px
    text-align: center
    color: #FFF


.user
  background-color: #FAFAFA
  border: 1px solid #E8E8E8
  padding: 15px 25px
  display: flex
  align-items: center
  justify-content: space-between

  &-avatar
    border-radius: 50%

  &-info
    display: flex
    align-items: center

  &-name
    font-weight: 600
    font-size: 16px
    line-height: 24px
    color: #595959
    margin-left: 17px

  &-exit
    fill: #000
    border: none
    background-color: inherit
    cursor: pointer


@media (max-width: 990px)
  .sidebar
    display: none
  .posts
    max-width: 100%
  .menu-toggle
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-left: 12px
    width: 30px
    height: 20px
  .menu-toggle span
    height: 2px
    width: 100%
    background-color: #fff


//@import "checkout"
//@import "shoppingCart"
//@import "product"    //подключение подкласса стилей
@import "vars"
