@mixin flex()
  display: flex
  justify-content: center
  align-items: center


*
  margin: 0
  padding: 0

.conteiner
  width: 1600px
  margin: 0 auto

body
  font-family: "Lato", sans-serif
  background: #F5F5F5

footer
  clear: both

a
  text-decoration: none
  cursor: pointer
  color: #898989

em
  color: #ff0d0d
  font-size: 17px
  font-weight: 400
  line-height: 20px

nav ul li
  list-style-type: none

ul
  list-style-type: none

.center
  padding: 0 calc(50% - 570px)

.header
  background-color: #FA8C16
  padding-top: 16px
  padding-bottom: 16px
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
  margin-bottom: 30px

  &__wrapper
    max-width: 1200px
    //максимальная ширина
    display: flex
    justify-content: space-between
    align-items: center

  &__header-nav
    margin-left: 60px
    margin-right: auto

  &-menu
    display: flex
    justify-content: space-between
    align-items: center

  &-menu__link
    color: #fafafa
    margin-right: 15px
    font-size: 14px
    line-height: 22px

  &__input-group
    position: relative
    border-radius: 4px
    background: #FFFFFF
    border: 1px solid #D9D9D9
    overflow: hidden
    //чтобы за предел блока ничего не вываливалось
    width: 237px
    height: 32px

.search
  &__input
    border: none
    width: 80%
    height: 100%
    font-size: 14px
    line-height: 22px
    padding-left: 12px

  &__button
    border: none
    height: 100%
    width: 20%
    position: absolute
    right: 0
    top: 0
    background: #FFFFFF
    cursor: pointer
    @include flex

  &__input[type="search"]::-moz-placeholder
    color: #BFBFBF

  &__input[type="search"]::-webkit-input-placeholder
    color: #BFBFBF

  &__input[type="search"]:-ms-input-placeholder
    color: #BFBFBF

  &__input[type="search"]::-ms-input-placeholder
    color: #BFBFBF

  &__input[type="search"]::placeholder
    color: #BFBFBF


.posts
  max-width: 800px

  &__post
    background: #FFFFFF
    border: 1px solid #E8E8E8

  &__body
    padding: 35px 35px 0 35px

  &__title
    margin-bottom: 19px
    font-weight: 600
    font-size: 16px
    line-height: 24px
    color: #262626

  &__text
    font-size: 14px
    line-height: 22px
    color: #262626

  &__tags
    margin-bottom: 22px

  &__tag
    font-size: 14px
    line-height: 22px
    color: #BFBFBF
    margin-right: 10px

  &__footer
    background: #FAFAFA
    border-top: 1px solid #E8E8E8
    @include flex
    justify-content: space-between
    padding-top: 13px
    padding-bottom: 13px

  &__buttonsBlock
    display: flex
    align-items: center
    margin: 0 auto 0 36px

  &__button .icon
    fill: #8C8C8C

  &__button
    background-color: transparent
    border: none
    color: #8C8C8C
    font-size: 14px
    line-height: 22px
    display: flex
    align-items: center
    margin-right: 29px

  &__author
    @include flex
    text-align: right
    margin-right: 36px

  &__username
    display: block
    font-size: 12px
    line-height: 20px
    text-align: right
    color: #8C8C8C

  &__post-time
    font-size: 12px
    line-height: 20px
    color: #BFBFBF

  &__avatar
    margin-left: 10px
    border-radius: 4px


//
//@import "checkout"
//@import "shoppingCart"
//@import "product"    //подключение подкласса стилей
@import "vars"
