@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.content {
  max-width: 1200px;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

body {
  font-family: "Lato", sans-serif;
  background: #F5F5F5; }

footer {
  clear: both; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #898989; }

em {
  color: #ff0d0d;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px; }

nav ul li {
  list-style-type: none; }

ul {
  list-style-type: none; }

button {
  border: none;
  border-radius: 4px;
  color: #FFF;
  font-size: 16px;
  line-height: 24px;
  padding: 13px;
  cursor: pointer; }

.header {
  background-color: #FA8C16;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px; }
  .header__wrapper {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto; }
  .header__header-nav {
    margin-left: 60px;
    margin-right: auto; }
  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-menu__link {
    color: #fafafa;
    margin-right: 15px;
    font-size: 14px;
    line-height: 22px; }
  .header__input-group {
    position: relative;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    overflow: hidden;
    max-width: 237px;
    width: 60%;
    height: 32px; }

.menu-toggle {
  display: none; }

.search__input {
  border: none;
  width: 80%;
  height: 100%;
  font-size: 14px;
  line-height: 22px;
  padding-left: 12px; }
.search__button {
  border: none;
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  background: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
.search__input[type="search"]::-moz-placeholder {
  color: #BFBFBF; }
.search__input[type="search"]::-webkit-input-placeholder {
  color: #BFBFBF; }
.search__input[type="search"]:-ms-input-placeholder {
  color: #BFBFBF; }
.search__input[type="search"]::-ms-input-placeholder {
  color: #BFBFBF; }
.search__input[type="search"]::placeholder {
  color: #BFBFBF; }

.posts {
  max-width: 67%;
  width: 800px; }
  .posts__post {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    margin-bottom: 30px; }
  .posts__body {
    padding: 35px 35px 0 35px; }
  .posts__title {
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #262626; }
  .posts__text {
    font-size: 14px;
    line-height: 22px;
    color: #262626; }
  .posts__tags {
    margin-bottom: 22px; }
  .posts__tag {
    font-size: 14px;
    line-height: 22px;
    color: #BFBFBF;
    margin-right: 10px; }
  .posts__footer {
    background: #FAFAFA;
    border-top: 1px solid #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 13px; }
  .posts__buttonsBlock {
    display: flex;
    align-items: center;
    margin: 0 auto 0 36px; }
  .posts__button .icon {
    fill: #8C8C8C; }
  .posts__button {
    background-color: transparent;
    border: none;
    color: #8C8C8C;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    margin-right: 29px;
    cursor: pointer; }
  .posts__author {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-right: 36px; }
  .posts__username {
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    color: #8C8C8C; }
  .posts__post-time {
    font-size: 12px;
    line-height: 20px;
    color: #BFBFBF; }
  .posts__avatar {
    margin-left: 10px;
    border-radius: 4px;
    width: 34px;
    height: 34px; }

.icon-likes, .icon-comments {
  margin-right: 6px; }

.sidebar {
  max-width: 370px;
  width: 31%; }
  .sidebar-nav {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-top: none; }
  .sidebar-link {
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    padding: 16px 48px;
    display: inline-block;
    width: 72%; }
  .sidebar-link:hover {
    background-color: #FFFBE6;
    color: #FAAD14; }
  .sidebar-link:active {
    background-color: #FFFBE6;
    border-right: 3px solid #FAAD14; }
  .sidebar-button {
    background: #FAAD14;
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0 13px;
    margin-top: 20px; }
  .sidebar-button__icon {
    margin-right: 10px;
    fill: #FFFFFF; }
  .sidebar-button__text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px; }
  .sidebar-card {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    margin-top: 20px; }
  .sidebar-card__header {
    background: #FAFAFA;
    border-bottom: 1px solid #E8E8E8;
    padding: 23px 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #595959; }
  .sidebar-card__body {
    padding: 22px 40px 30px 25px; }
  .sidebar-card__body-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #D48806; }
  .sidebar-card__body-text {
    font-size: 14px;
    line-height: 22px;
    color: #262626;
    padding-top: 10px; }
  .sidebar-promo {
    display: block;
    width: 100%;
    background: #fff url(img/promo.jpg) no-repeat center/cover;
    height: 260px;
    border: 1px solid #E8E8E8;
    margin-top: 20px;
    position: relative; }
  .sidebar-promo::before {
    content: "╨а╨╡╨║╨╗╨░╨╝╨░";
    position: absolute;
    right: 0;
    top: 0;
    background: #c4c4c4;
    padding: 0 26px;
    text-align: center;
    color: #FFF; }

.sidebar.visible {
  display: block;
  transform: translateX(0); }

.user {
  background-color: #FAFAFA;
  border: 1px solid #E8E8E8;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .user-avatar {
    border-radius: 50%; }
  .user-info {
    display: flex;
    align-items: center; }
  .user-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    margin-left: 17px; }
  .user-exit {
    fill: #000;
    border: none;
    background-color: inherit;
    cursor: pointer; }

.add-post {
  display: flex;
  flex-direction: column; }

.add-title, .add-text {
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  padding: 23px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 16px; }

.add-text {
  min-height: 362px; }

.add-button {
  background-color: #FA8C16;
  width: 100%;
  max-width: 370px;
  margin-right: 2%; }

.button-outline {
  color: #FFC53D;
  background: #FFFFFF;
  border: 1px solid #FFC53D;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 1%; }

.button-outline .icon {
  fill: #FFC53D;
  width: 14px;
  height: 11px; }

@media (max-width: 990px) {
  .posts {
    max-width: 100%; }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
    width: 30px;
    height: 20px; }

  .menu-toggle span {
    height: 2px;
    width: 100%;
    background-color: #fff; }

  .header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    width: 100%; }

  .content {
    margin-top: 94px;
    margin-bottom: 30px; }

  .sidebar {
    position: fixed;
    z-index: 101;
    top: 64px;
    right: 0;
    bottom: 0;
    height: calc(100% - 64px);
    width: 320px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    padding: 30px;
    transform: translateX(100%);
    transition: transform 0.2s;
    overflow-y: auto; }

  .header__header-nav {
    display: none; }

  .header-menu {
    width: 90%;
    margin: auto;
    justify-content: left; } }
@media (max-width: 768px) {
  .posts__footer {
    flex-direction: column; }

  .posts__author {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 36px;
    text-align: right; }

  .posts__about {
    order: 2; }

  .posts__avatar {
    margin-left: 0;
    margin-right: 10px; } }
@media (max-width: 700px) {
  .add-buttons {
    display: flex;
    flex-direction: column; }

  .add-buttons .button {
    width: 100%;
    max-width: 100%;
    margin-right: 0; }

  .button-outline {
    margin-top: 10px; } }

/*# sourceMappingURL=style.css.map */
